@use "../../scss/variables" as v;

.grey-rectangle{
  position: relative;
  padding: 60px;
  background-color: v.$grey-main-content;
}
.main-column{
  padding: 0 0 0 40px;
  color: v.$white-main-content;
}
.education,.experience,.expertise {
  background-color: v.$grey-ribbon-main;
  height: 23px;
  margin-left: -60px;
  margin-right: -60px;
  padding: 0 60px;
  line-height: 25px;
  font-weight:600;
}

.section-block-education .big-yellow-rectangle{
  position: absolute;
  width: 14px;
  height: 23px;
  background-color: v.$yellow;
  margin-left: -60px;
  margin-top: -31px;
}
.section-block-education .small-yellow-rectangle{
  position: absolute;
  background: v.$yellow;
  width: 19px;
  height: 3px;
  margin-left: 119px;
  margin-top: -7.6px;
}

.section-block-experience .big-yellow-rectangle{
  position: absolute;
  width: 14px;
  height: 23px;
  background-color: v.$yellow;
  margin-left: -60px;
  margin-top: -31px;
}
.section-block-expertise .big-yellow-rectangle{
  position: absolute;
  width: 14px;
  height: 23px;
  background-color: v.$yellow;
  margin-left: -60px;
  margin-top: -31px;
}

.enter-your-magor{
  padding-bottom: 85px;
}
.enter-your-magor h6{
  padding: 27px 0 5px 0;
  font-size: 13px;
  font-weight: bolder;
}
.enter-your-magor p{
  font-size: 12.5px
}
