<div class="grey-rectangle">
<section class="section-block-education">
    <header>
        <h5 class="education">EDUCATION</h5>
    </header>

    <div class="big-yellow-rectangle"></div>
    <div class="small-yellow-rectangle"></div>

    <div class="row enter-your-magor">
        <div class="col-6 ">
            <h6>ENTER YOUR MAJOR</h6>
            <p>Name Of Your University<br>2005-2009</p>
        </div>
        <div class="col-6 " >
            <h6>ENTER YOUR MAJOR</h6>
            <p>Name Of Your University<br>2005-2009</p>
        </div>
    </div>
</section>

<section class="section-block-experience">
    <header>
    <h5 class="experience">EXPERIENCE</h5>
    </header>

    <div class="big-yellow-rectangle"></div>
    <div class="small-yellow-rectangle"></div>

    <h6>Enter Job Position Here</h6>
    <h6>Present Company Name/Location</h6>
    <p>Lorem ipsum dolor sit amet, this is a thena consectetur
        adipisicing elit, sed do eiusmod tempor incididunt ut labore
    </p>

    <h6>Enter Job Position Here</h6>
    <h6>Present Company Name/Location</h6>
    <p>Lorem ipsum dolor sit amet, this is a thena consectetur
        adipisicing elit, sed do eiusmod tempor incididunt ut labore
    </p>
</section>

<section class="section-block-expertise">
    <header>
    <h5 class="expertise">EXPERTISE</h5>
    </header>

    <div class="big-yellow-rectangle"></div>
    <div class="small-yellow-rectangle"></div>

</section>
</div>