@use "../../scss/variables" as v;

.resume-header {
  position: relative;
  margin-bottom: 40px;
  margin-top: 60px;
}

.header-information #FirstName{
  font-family: v.$sub-font;
  font-size: 40px;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 20px;
  color: v.$yellow-firstname;
}

.header-information #LastName {
  font-family: v.$font-main;
  display: block;
  font-weight: 750;
  font-size: 40px;
  color: v.$gray;
}

.header-information .subtitle {
  font-family: v.$sub-font;
  font-size: 19px;
  line-height: 0.5;
  letter-spacing: 0.5px;
  color: v.$gray;
}
.header-information img{
  position: absolute;
  max-width: 175px;
  right: 180px;
  top: 41px;
  z-index: 1;
}
.header-information {
  padding-top: 90px;
  padding-bottom: 83px;
  padding-left: 40px;
}

.white-small-rectangle{
  position: absolute;
  background-color: v.$white;
  width: 130px;
  height: 5px;
  z-index: 2;
  margin-top:238px;
  margin-left: 16px;
}

.yellow-small-rectangle{
  position: absolute;
  background-color: v.$yellow;
  width: 130px;
  height: 5px;
  margin-top:150px;
  margin-left: -223px;
  z-index: 0;
}

.black-small-rectangle{
  background-color: v.$black;
  position: absolute;
  width: 60px;
  height: 3px;
  margin-top:100px;
  margin-left: -127px;
  z-index: 2;
}

.yellow-block{
 background: v.$yellow;
}

