$yellow:#ffc905;
$yellow-firstname:#ffd739;
$gray:#363636;
$white:#ffffff;
$black:#000000;
$grey-main-content:#2b3036;
$white-main-content:#ececec;
$grey-ribbon-main:#373c42;
$resume-bg:#e4e4e4;
$shadow:rgba(0, 0, 0, 0.60);
$font-main: "Montserrat", sans-serif;
$sub-font: "Poppins", sans-serif;
