@use "../components/sidebar/sidebar";
@use "../components/main-content/main-content";
@use "../components/header/header";

body{
  font-family: Arial, sans-serif;
}

.resume-bg {
  background: #e4e4e4;
}

.resume-inner {
  max-width: 810px;
  margin: 120px auto 90px auto ;
  background-color: white;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.60);
  position: relative;
}

